body {
    background-color: #fff;
    min-width: 600px;
}
.main {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 20px;
    transition: all .6s;
}
.content {
    min-height: calc( 100vh - 120px);
}